asgiref==3.7.2
asttokens==2.4.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.0
decorator==5.1.1
defusedxml==0.8.0rc2
Django==5.0.3
django-debug-toolbar==4.3.0
django-extensions==3.2.3
executing==2.0.1
idna==3.7
ipython==8.22.2
jedi==0.19.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
oauthlib==3.2.2
parso==0.8.3
pillow==10.3.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
pure-eval==0.2.2
pycparser==2.22
Pygments==2.17.2
PyJWT==2.9.0
pyOpenSSL==24.2.1
python3-openid==3.2.0
pytils==0.4.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
